.dashboard-bg{
	background-image: url("../../assets/images/dashboard-bg.png");
}

.dashboard-navbar{
	background: linear-gradient(111.84deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0) 100%);
	background-size: 1920px;
	background-repeat: no-repeat;
}
